In [81]:
#!pip install openai

In [12]:
import openai

In [13]:
import os

In [18]:
os.environ['OPENAI_API_KEY'] = 'ENTER_YOUR_API_KEY'

In [22]:
openai.api_key = os.getenv('OPENAI_API_KEY')

In [23]:
response = openai.Completion.create(
            model='text-davinci-003',
            prompt='Give me two reasons to learn OpenAI API with Python',
            max_tokens = 300)

In [26]:
print(response['choices'][0]['text'])

1. OpenAI API with Python offers a simple and efficient way to access powerful machine learning functionalities and access to OpenAI's cutting-edge AI research. This enables developers to incorporate complex ML and deep learning algorithms into their applications quickly and easily.

2. OpenAI API with Python provides access to a variety of state-of-the-art toolkits and algorithms, such as natural language processing, computer vision recognition, and robotics. Furthermore, its seamless integration with popular development tools, such as TensorFlow, PyTorch, and Jupyter Notebook, allows developers to build custom ML and AI models faster and more efficiently.

In [29]:
# !pip install pandas

Requirement already satisfied: pandas in c:\users\yscho73\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (1.5.3)
Requirement already satisfied: pytz>=2020.1 in c:\users\yscho73\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2023.2)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\yscho73\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.21.0 in c:\users\yscho73\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from pandas) (1.24.2)
Requirement already satisfied: six>=1.5 in c:\users\yscho73\appdata\local\packages\pythonsoftwarefoundation.python.3.10_qbz5n2kfra8p0\localcache\local-packages\python310\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [30]:
import pandas as pd

In [63]:
df = pd.read_csv('sales_data_sample.csv',encoding = "Latin-1")
df

,ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,...,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE
0,10107,30,95.70,2,2871.00,2/24/2003 0:00,Shipped,1,2,2003,...,897 Long Airport Avenue,NaN,NYC,NY,10022,USA,NaN,Yu,Kwai,Small
1,10121,34,81.35,5,2765.90,5/7/2003 0:00,Shipped,2,5,2003,...,59 rue de l'Abbaye,NaN,Reims,NaN,51100,France,EMEA,Henriot,Paul,Small
2,10134,41,94.74,2,3884.34,7/1/2003 0:00,Shipped,3,7,2003,...,27 rue du Colonel Pierre Avia,NaN,Paris,NaN,75508,France,EMEA,Da Cunha,Daniel,Medium
3,10145,45,83.26,6,3746.70,8/25/2003 0:00,Shipped,3,8,2003,...,78934 Hillside Dr.,NaN,Pasadena,CA,90003,USA,NaN,Young,Julie,Medium
4,10159,49,100.00,14,5205.27,10/10/2003 0:00,Shipped,4,10,2003,...,7734 Strong St.,NaN,San Francisco,CA,NaN,USA,NaN,Brown,Julie,Medium
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2818,10350,20,100.00,15,2244.40,12/2/2004 0:00,Shipped,4,12,2004,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Small
2819,10373,29,100.00,1,3978.51,1/31/2005 0:00,Shipped,1,1,2005,...,Torikatu 38,NaN,Oulu,NaN,90110,Finland,EMEA,Koskitalo,Pirkko,Medium
2820,10386,43,100.00,4,5417.57,3/1/2005 0:00,Resolved,1,3,2005,...,"C/ Moralzarzal, 86",NaN,Madrid,NaN,28034,Spain,EMEA,Freyre,Diego,Medium
2821,10397,34,62.24,1,2116.16,3/28/2005 0:00,Shipped,1,3,2005,...,1 rue Alsace-Lorraine,NaN,Toulouse,NaN,31000,France,EMEA,Roulet,Annette,Small
2822,10414,47,65.52,9,3079.44,5/6/2005 0:00,On Hold,2,5,2005,...,8616 Spinnaker Dr.,NaN,Boston,MA,51003,USA,NaN,Yoshido,Juri,Medium

In [82]:
# !pip install sqlalchemy

In [55]:
import sqlalchemy

In [56]:
from sqlalchemy import create_engine
from sqlalchemy import text

In [57]:
# TEMP DB inside our RAM

# PUSH Pandas DF --> TEMP DB

# now can preform SQL query on TEMP DB

In [65]:
temp_db = create_engine('sqlite:///:memory:',echo=True) #sqlalchemy in python if we want to see output, use echo=True

In [66]:
temp_db

Engine(sqlite:///:memory:)

In [67]:
data = df.to_sql(name='Sales',con=temp_db)

2023-03-28 14:35:41,844 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-28 14:35:41,846 INFO sqlalchemy.engine.Engine PRAGMA main.table_info("Sales")
2023-03-28 14:35:41,847 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-28 14:35:41,848 INFO sqlalchemy.engine.Engine PRAGMA temp.table_info("Sales")
2023-03-28 14:35:41,849 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-28 14:35:41,850 INFO sqlalchemy.engine.Engine ROLLBACK
2023-03-28 14:35:41,852 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-28 14:35:41,854 INFO sqlalchemy.engine.Engine
CREATE TABLE "Sales" (
	"index" BIGINT,
	"ORDERNUMBER" BIGINT,
	"QUANTITYORDERED" BIGINT,
	"PRICEEACH" FLOAT,
	"ORDERLINENUMBER" BIGINT,
	"SALES" FLOAT,
	"ORDERDATE" TEXT,
	"STATUS" TEXT,
	"QTR_ID" BIGINT,
	"MONTH_ID" BIGINT,
	"YEAR_ID" BIGINT,
	"PRODUCTLINE" TEXT,
	"MSRP" BIGINT,
	"PRODUCTCODE" TEXT,
	"CUSTOMERNAME" TEXT,
	"PHONE" TEXT,
	"ADDRESSLINE1" TEXT,
	"ADDRESSLINE2" TEXT,
	"CITY" TEXT,
	"STATE" TEXT,
	"POSTALCODE" TEXT,
	"COUNTRY" TEXT,
	"TERRITORY" TEXT,
	"CONTACTLASTNAME" TEXT,
	"CONTACTFIRSTNAME" TEXT,
	"DEALSIZE" TEXT
)


2023-03-28 14:35:41,855 INFO sqlalchemy.engine.Engine [no key 0.00071s] ()
2023-03-28 14:35:41,856 INFO sqlalchemy.engine.Engine CREATE INDEX "ix_Sales_index" ON "Sales" ("index")
2023-03-28 14:35:41,856 INFO sqlalchemy.engine.Engine [no key 0.00069s] ()
2023-03-28 14:35:41,858 INFO sqlalchemy.engine.Engine COMMIT
2023-03-28 14:35:41,865 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-28 14:35:41,896 INFO sqlalchemy.engine.Engine INSERT INTO "Sales" ("index", "ORDERNUMBER", "QUANTITYORDERED", "PRICEEACH", "ORDERLINENUMBER", "SALES", "ORDERDATE", "STATUS", "QTR_ID", "MONTH_ID", "YEAR_ID", "PRODUCTLINE", "MSRP", "PRODUCTCODE", "CUSTOMERNAME", "PHONE", "ADDRESSLINE1", "ADDRESSLINE2", "CITY", "STATE", "POSTALCODE", "COUNTRY", "TERRITORY", "CONTACTLASTNAME", "CONTACTFIRSTNAME", "DEALSIZE") VALUES (?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?, ?)
2023-03-28 14:35:41,897 INFO sqlalchemy.engine.Engine [generated in 0.02103s] [(0, 10107, 30, 95.7, 2, 2871.0, '2/24/2003 0:00', 'Shipped', 1, 2, 2003, 'Motorcycles', 95, 'S10_1678', 'Land of Toys Inc.', '2125557818', '897 Long Airport Avenue', None, 'NYC', 'NY', '10022', 'USA', None, 'Yu', 'Kwai', 'Small'), (1, 10121, 34, 81.35, 5, 2765.9, '5/7/2003 0:00', 'Shipped', 2, 5, 2003, 'Motorcycles', 95, 'S10_1678', 'Reims Collectables', '26.47.1555', "59 rue de l'Abbaye", None, 'Reims', None, '51100', 'France', 'EMEA', 'Henriot', 'Paul', 'Small'), (2, 10134, 41, 94.74, 2, 3884.34, '7/1/2003 0:00', 'Shipped', 3, 7, 2003, 'Motorcycles', 95, 'S10_1678', 'Lyon Souveniers', '+33 1 46 62 7555', '27 rue du Colonel Pierre Avia', None, 'Paris', None, '75508', 'France', 'EMEA', 'Da Cunha', 'Daniel', 'Medium'), (3, 10145, 45, 83.26, 6, 3746.7, '8/25/2003 0:00', 'Shipped', 3, 8, 2003, 'Motorcycles', 95, 'S10_1678', 'Toys4GrownUps.com', '6265557265', '78934 Hillside Dr.', None, 'Pasadena', 'CA', '90003', 'USA', None, 'Young', 'Julie', 'Medium'), (4, 10159, 49, 100.0, 14, 5205.27, '10/10/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Corporate Gift Ideas Co.', '6505551386', '7734 Strong St.', None, 'San Francisco', 'CA', None, 'USA', None, 'Brown', 'Julie', 'Medium'), (5, 10168, 36, 96.66, 1, 3479.76, '10/28/2003 0:00', 'Shipped', 4, 10, 2003, 'Motorcycles', 95, 'S10_1678', 'Technics Stores Inc.', '6505556809', '9408 Furth Circle', None, 'Burlingame', 'CA', '94217', 'USA', None, 'Hirano', 'Juri', 'Medium'), (6, 10180, 29, 86.13, 9, 2497.77, '11/11/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Daedalus Designs Imports', '20.16.1555', '184, chausse de Tournai', None, 'Lille', None, '59000', 'France', 'EMEA', 'Rance', 'Martine', 'Small'), (7, 10188, 48, 100.0, 1, 5512.32, '11/18/2003 0:00', 'Shipped', 4, 11, 2003, 'Motorcycles', 95, 'S10_1678', 'Herkku Gifts', '+47 2267 3215', 'Drammen 121, PR 744 Sentrum', None, 'Bergen', None, 'N 5804', 'Norway', 'EMEA', 'Oeztan', 'Veysel', 'Medium')  ... displaying 10 of 2823 total bound parameter sets ...  (2821, 10397, 34, 62.24, 1, 2116.16, '3/28/2005 0:00', 'Shipped', 1, 3, 2005, 'Ships', 54, 'S72_3212', 'Alpha Cognac', '61.77.6555', '1 rue Alsace-Lorraine', None, 'Toulouse', None, '31000', 'France', 'EMEA', 'Roulet', 'Annette', 'Small'), (2822, 10414, 47, 65.52, 9, 3079.44, '5/6/2005 0:00', 'On Hold', 2, 5, 2005, 'Ships', 54, 'S72_3212', 'Gifts4AllAges.com', '6175559555', '8616 Spinnaker Dr.', None, 'Boston', 'MA', '51003', 'USA', None, 'Yoshido', 'Juri', 'Medium')]
2023-03-28 14:35:41,906 INFO sqlalchemy.engine.Engine COMMIT
2023-03-28 14:35:41,908 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-28 14:35:41,909 INFO sqlalchemy.engine.Engine SELECT name FROM sqlite_master WHERE type='table' AND name NOT LIKE 'sqlite~_%' ESCAPE '~' ORDER BY name
2023-03-28 14:35:41,910 INFO sqlalchemy.engine.Engine [raw sql] ()
2023-03-28 14:35:41,912 INFO sqlalchemy.engine.Engine ROLLBACK

In [73]:
with temp_db.connect() as conn:
    # makes the connection
    # run code indentation/block code
    result = conn.execute(text("SELECT SUM(SALES) from Sales"))
    # auto close connection

2023-03-28 14:38:01,360 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2023-03-28 14:38:01,362 INFO sqlalchemy.engine.Engine SELECT SUM(SALES) from Sales
2023-03-28 14:38:01,362 INFO sqlalchemy.engine.Engine [generated in 0.00211s] ()
2023-03-28 14:38:01,363 INFO sqlalchemy.engine.Engine ROLLBACK

In [74]:
result.all()

[(10032628.85000001,)]

In [75]:
# To handle NLP to SQL, we'll need to setup some handler functions in order to give GPT-3 the information it needs about table structure

# We'll create few functions:
# Automatically creating table structure definition from DF for OpenAI API
# Grabbing user NLP input
# Combinging prompts for an OpenAI API call

In [76]:
### sqlite SQL tables, with their properties:
#
# Employee(id, name, department_id)
#
# A query to list the names of the departments which employed more than 10
# Select

def create_table_definition(df):
    prompt = """### sqlite SQL table, with it properties:
    #
    # Sales({})
    #
    """.format(",".join(str(col) for col in df.columns))
    
    return prompt

In [80]:
print(create_table_definition(df))

### sqlite SQL table, with it properties:
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
    #

In [83]:
def prompt_input():
    nlp_text = input("Enter the info you want: ")
    return nlp_text

In [84]:
prompt_input()

Enter the info you want: grab all sales per quarter

'grab all sales per quarter'

In [95]:
def combine_prompts(df, query_prompt):
    definition = create_table_definition(df)
    query_init_string = f"### A query to answer: {query_prompt}\nSELECT"
    return definition+query_init_string

In [104]:
nlp_text = prompt_input() # NLP
combine_prompts(df, nlp_text) # DF + query that does... + NLP

Enter the info you want: return the sum of SALES per POSTALCODE

'### sqlite SQL table, with it properties:\n    #\n    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)\n    #\n    ### A query to answer: return the sum of SALES per POSTALCODE\nSELECT'

In [101]:
prompt = combine_prompts(df, nlp_text)
print(prompt)

### sqlite SQL table, with it properties:
    #
    # Sales(ORDERNUMBER,QUANTITYORDERED,PRICEEACH,ORDERLINENUMBER,SALES,ORDERDATE,STATUS,QTR_ID,MONTH_ID,YEAR_ID,PRODUCTLINE,MSRP,PRODUCTCODE,CUSTOMERNAME,PHONE,ADDRESSLINE1,ADDRESSLINE2,CITY,STATE,POSTALCODE,COUNTRY,TERRITORY,CONTACTLASTNAME,CONTACTFIRSTNAME,DEALSIZE)
    #
    ### A query to answer: sum of SALES
SELECT

In [109]:
response = openai.Completion.create(
            model = 'curie',
            prompt = combine_prompts(df,nlp_text),
            temperature = 0,
            max_tokens = 150,
            top_p = 1.0,
            frequency_penalty = 0,
            presence_penalty = 0,
            stop = ['#',';']
)

In [113]:
response['choices'][0]['text']

" SUM(SALES) FROM Sales WHERE POSTALCODE = '12345'\n\nSQLite is a relational database management system (RDBMS) that is embedded in the Linux kernel. SQLite is a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is a complete SQL database engine that is embedded in the Linux kernel. SQLite is a relational database management system (RDBMS) that is embedded in the Linux kernel. SQLite is a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is a complete SQL database engine that is embedded in the Linux kernel. SQLite is a relational database management system (RDBMS"

In [115]:
def handle_response(response):
    query = response['choices'][0]['text']
    if query.startswith("  "):
        query = "SELECT" + query
    return query

In [116]:
handle_response(response)

" SUM(SALES) FROM Sales WHERE POSTALCODE = '12345'\n\nSQLite is a relational database management system (RDBMS) that is embedded in the Linux kernel. SQLite is a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is a complete SQL database engine that is embedded in the Linux kernel. SQLite is a relational database management system (RDBMS) that is embedded in the Linux kernel. SQLite is a self-contained, serverless, zero-configuration, transactional SQL database engine. SQLite is a complete SQL database engine that is embedded in the Linux kernel. SQLite is a relational database management system (RDBMS"